@using Students.Interfaces
@using System.Globalization

@{
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo(Context.Session.GetString("Culture") ?? "en-US");
    ViewData["Title"] = "Privacy Policy";
}
@inject ISharedResourcesService sharedResourcesService

<h1> @sharedResourcesService.GetString("Privacy", cultureInfo) </h1>
<p> @sharedResourcesService.GetString("PrivacyDesc", cultureInfo)</p>
